
<%-include('./partials/header')%>

    <h1 class="text-center">From here you can Edit your product</h1>
    
    <form action="/products/<%=foundProduct.id%>?_method=PATCH" method="POST">
         
        <div>

            <label for="name"></label>
            Name: <input type="text" id="name" value="<%=foundProduct.name%>" name="name">
        </div>
         <hr>
        <div>

            <label for="img"></label>
            <img src="<%=foundProduct.img%>" width="200px" height="200px" alt="">
            Image: <input type="text" id="img" value="<%=foundProduct.img%>" name="img">
        </div>
         
        <hr>
        <div>
            
            <label for="price"></label>
            Price: <input type="text" id="price" value="<%=foundProduct.price%>" name="price">
        </div>
        
        <hr>
        <div>
            
            <label for="desc">Description: </label>
          <textarea name="desc" id="desc" cols="30" rows="10"><%=foundProduct.desc%></textarea>
        </div>
         
        <hr>
        <button type="submit">Add Changes</button>
        <button ><a href="/products">All Products</a></button>
    </form>

    <%-include('partials/footer')%>