<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Here is your products</h1>
     
    <% for(let items of products){ %>
         
        <h3><%= items.name %></h3>
         <img src="<%= items.img %>" width="200px" height="200px" alt="img">
        <h3><%= items.price %></h3>
        <h3><%= items.desc %></h3>

         <button><a href="/products/<%=items._id%>">Show Product</a></button> 
         <button ><a href="/products/<%=items.id%>/edit">Edit Product</a></button>
           
         <form action="/products/<%=items.id%>?_method=Delete" method="POST">

             <button >Delete Product</button>
         </form>

        <hr>

    <% } %>



</body>
</html>