

 <%-include('partials/header')%>
 <%-include('partials/navbar')%>

    <section  >

        
        <div class="mx-5 my-5  ">
        <h1 class="d-flex flex-column align-items-center justify-content-center">Here is your products</h1>
        <!-- <button class="col-2"><a href="/products/new">Click to Add  New Product </a></button>  -->
        
         <%-include('./partials/flash.ejs')%>
       </div>

       
       <div class="d-flex flex-column align-items-center justify-content-center">

       
         
        <div class="mx-5  border col-6 d-flex flex-column align-items-center justify-content-center ">
        
        <% for(let items of products){ %>
            
            <h3>Product Name: <%= items.name %></h3>
            <img src="<%= items.img %>" width="200px" height="200px" alt="img">
            <h3>Price: <%= items.price %></h3>
            <h3>Description: <%= items.desc %></h3>
            
               <button class=" "><a href="/products/<%=items._id%>">Show Product</a></button> 
                

            <hr>
            
            <% } %>
            
        </div>  

    </div>
      
        </section>
            
        <%-include('partials/footer')%>